*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    background: url(Hacker\ Live\ Wallpaper\ \ \ Android\ Apps\ on\ Google\ Play.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
}
.colora {
    color: #fff;
}